.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px

}
.note{
    font-size: 15px;
    color: yellow;
}
.copy_right_footer{
    position: fixed;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 20px 20px 10px magenta;
    border-style:groove;
}